.grid {
	max-width: 100%;
	list-style: none;
	margin: px auto;
	padding: 0;
	z-index: 2;

}

.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 25%;
	opacity: 0;

}
.grid li:first-child {
	padding-top: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;

}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}

/* Effect 6: flip (based on http://lab.hakim.se/scroll-effects/ by @hakimel) */
.grid.effect-6 {
	-webkit-perspective: 1300px;
	perspective: 1300px;
}

.grid.effect-6 li.animate {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	-webkit-transform: rotateX(-150deg);
	transform: rotateX(-150deg);
	-webkit-animation: flip .8s ease-in-out forwards;
	animation: flip .8s ease-in-out forwards;
}

#header {
	background-image: url('../images/bg03.jpg');
	background-size: cover;
	margin-bottom: -10px;
	position: relative;
}

#clock {
	font-size: 1.6em;
	z-index: 2;
	text-align: right;
	color: rgba(32, 32, 32, 0.5);
}

#note {
	font-size: 0.9em;
	margin: 0;
	color: rgba(32, 32, 32, 0.4);
	padding: 0;
	text-align: right;
	font-style: italic;
}

@-webkit-keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); opacity: 1; }
}

@keyframes flip {
	0% { }
	100% { -webkit-transform: rotateX(0deg); transform: rotateX(0deg); opacity: 1; }
}


@media screen and (max-width: 1024px) {
	.grid li {
		width: 33%;
	}
}

@media screen and (max-width: 720px) {
	.grid li {
		width: 50%;
	}
}

@media screen and (max-width: 480px) {
	.grid li {
		width: 100%;
	}
}
