.masonry { 
   display: flex;
   flex-flow: column wrap;
   max-height: 1080px;
   width: 100%;
   padding: 10px;
 }
 
.item {
   border: 1px solid red;
   border-radius: 5px;
   margin: 0 8px 8px 0; /* Some gutter */
   &.vertical-img {
      height: 225px;
   }
   &.horizontal-img {
      height: 100px;
   }
 }